html, body {
  height: 100%;
  background-color: #A66900;
  font-family: 'Cabin', arial, sans-serif;
  font-size: 15pt;
  min-height: 800px; }

a {
  text-decoration: none;
  color: black; }
  a:active {
    color: brown; }
  a:visited {
    color: black; }

.content {
  background-color: #FFBA45;
  border-bottom: 1px solid #FFCF7D; }

.projects {
  border-top: 1px solid #A66900;
  margin-top: 15px;
  min-height: 250px;
  background-color: #FFCF7D; }

.footer {
  width: 100%;
  background-color: #A66900;
  border-top: 1px solid #BF8A30;
  text-align: center; }
  .footer ul {
    height: 75px;
    padding: 7px;
    display: inline-block;
    background-color: #BF8A30;
    text-align: center;
    margin-top: 20px;
    list-style-type: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 0px 5px 3px #8C5700;
    -moz-box-shadow: inset 0px 0px 5px 3px #8C5700;
    box-shadow: inset 0px 0px 5px 3px #8C5700; }
    .footer ul li {
      display: inline-block;
      width: 75px;
      height: 75px;
      margin-left: 10px; }
      .footer ul li:first-child {
        margin-left: 0px; }
      .footer ul li a {
        display: block;
        width: 100%;
        height: 100%;
        background-position: 0px 0px;
        background: url(/images/icons.png) no-repeat; }
        .footer ul li a#googleplus {
          background-position: 0px 0px; }
          .footer ul li a#googleplus:hover {
            background-position: 0px -75px; }
        .footer ul li a#linkedin {
          background-position: -75px 0px; }
          .footer ul li a#linkedin:hover {
            background-position: -75px -75px; }
        .footer ul li a#twitter {
          background-position: -150px 0px; }
          .footer ul li a#twitter:hover {
            background-position: -150px -75px; }
        .footer ul li a#github {
          background-position: -225px 0px; }
          .footer ul li a#github:hover {
            background-position: -225px -75px; }
        .footer ul li a#email {
          background-position: -300px 0px; }
          .footer ul li a#email:hover {
            background-position: -300px -75px; }

.header .title {
  font-family: 'Permanent Marker', arial, serif;
  padding-top: 4%;
  line-height: 50pt;
  font-size: 50pt;
  color: #844700;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.5) -1px 0, rgba(0, 0, 0, 0.3) 0 -1px, rgba(255, 255, 255, 0.5) 0 1px, rgba(0, 0, 0, 0.3) -1px -2px; }

.about {
  width: 480px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: auto;
  margin-right: auto; }
  .about p {
    position: relative;
    width: 100%;
    margin-top: 0.8em; }
    .about p:first-child {
      margin-top: 0; }
    .about p:nth-child(even) {
      margin-left: 50px; }

.buttons {
  padding-top: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }
  .buttons span {
    padding: 3px 10px;
    font-size: 12pt;
    display: inline-block;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; }
    .buttons span.selected {
      background-color: #FFCF7D;
      -webkit-box-shadow: inset 0px 0px 4px 0px #A66900;
      -moz-box-shadow: inset 0px 0px 4px 0px #A66900;
      box-shadow: inset 0px 0px 4px 0px #A66900; }
    .buttons span:hover {
      background-color: #FFCF7D;
      -webkit-box-shadow: inset 0px 0px 4px 0px #A66900;
      -moz-box-shadow: inset 0px 0px 4px 0px #A66900;
      box-shadow: inset 0px 0px 4px 0px #A66900; }
    .buttons span:active {
      -webkit-box-shadow: inset 0px 0px 4px 0px black;
      -moz-box-shadow: inset 0px 0px 4px 0px black;
      box-shadow: inset 0px 0px 4px 0px black; }

.resume {
  padding-top: 15px;
  padding-bottom: 15px; }
  .resume .experience .job {
    padding-top: 30px; }
    .resume .experience .job .time {
      float: right; }
      .resume .experience .job .time .start:after {
        content: ' - '; }
    .resume .experience .job .title {
      font-weight: bold; }
    .resume .experience .job .employer {
      font-weight: bold; }
