!basefont = 12pt

body
  background-color: #EEEEFF
  font:
    size: 12pt

=bigshadow
  text-shadow: 0px 2px 3px #555

=shadow(!xoff = 0px, !yoff = 1px, !blur = 2px, !color = #555)
  text-shadow= !xoff+" "+ !yoff+" "+ !blur+" "+ !color

=roundedbox(!radius)
  -moz-border-radius= !radius
  -webkit-border-radius= !radius
  border-radius= !radius

=insetboxshadow(!xoff, !yoff, !blur, !color)
  -moz-box-shadow= "inset "+!xoff+" "+!yoff+" "+!blur+" "+!color
  -webkit-box-shadow= "inset "+!xoff+" "+!yoff+" "+!blur+" "+!color
  box-shadow= "inset "+!xoff+" "+!yoff+" "+!blur+" "+!color

a
  &:link
    color: #00A
    +shadow(0px, 2px, 0px, #BBB)
    text-decoration: none
  &:hover
    text-decoration: underline

#header
  +bigshadow
  margin:
    top: 30px
    bottom: 30px
  text-align: center
  font:
    size= !basefont * 4
    weight: bold
  .first
    color: lightblue
  .last
    color: darkblue

#content
  h2
    text-align: center
    font:
      size= !basefont * 1.6
      weight: bold
    border:
      bottom: 1px inset #222
    +shadow
  ul
    margin: 0px
      top: 30px
      bottom: 30px
    padding: 0px
    list-style: none
    li
      text-align: center


.insetbox
  background-color: white
  +roundedbox(3px)
  +insetboxshadow(0px,1px,5px,grey)

#footer
  text-align: center
  font:
    size= !basefont / 2
