body {
  background-color: #EEEEFF;
  font-size: 12pt; }

a {
  color: #00A;
  text-shadow: 0px 1px 0px #bbbbbb;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

#header {
  text-shadow: 0px 2px 3px #555;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 48pt;
  font-weight: bold; }
  #header .firstname {
    color: lightblue; }
  #header .lastname {
    color: darkblue; }

#content h2 {
  text-align: center;
  font-size: 19.2pt;
  font-weight: bold;
  border-bottom: 1px inset #222;
  text-shadow: 0px 1px 2px #555555; }
#content ul {
  margin: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0px;
  list-style: none; }
  #content ul li {
    text-align: center; }

.insetbox {
  background-color: white;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0px 1px 5px grey;
  -webkit-box-shadow: inset 0px 1px 5px grey;
  box-shadow: inset 0px 1px 5px grey; }

#footer {
  text-align: center;
  font-size: 6pt; }
