a {
  filter: "Shadow(Color=#666666, Direction=135, Strength=3);"; }

#header {
  filter: "Shadow(Color=#666666, Direction=135, Strength=3);"; }

#content h2 {
  filter: "Shadow(Color=#666666, Direction=135, Strength=3);"; }

.insetbox {
  border: 1px inset black; }
