= render :partial => 'shared/navigation'
.about
  %p A #{@years_old} year old software developer currently living in Rochester New York.
  %p Passionate about open software development, Ruby, web development, and mobile application development.
  %p You can follow, like, watch, fork, contact, tweet, or otherwise stalk me using the links below.
