= render :partial => 'shared/navigation'
.resume
  %h2 Summary
  .summary= @summary.html_safe
  %h2 Education
  .education
    = render :partial => 'education', :locals => { :education => @education }
  %h2 Work Experience
  .experience
    .work
      = render :partial => 'work_experience', :locals => { :experience => @work_experience }
