= render :partial => 'shared/navigation'
.resume
  %h2 Summary
  .summary= @summary
  %h2 Objective
  .objective= @objective
  %h2 Work Experience
  .experience
    .work
      = render :partial => 'work_experience', :locals => { :experience => @work_experience }
