#thingsilike.insetbox.span-8
  .heading Things I Like
  .content
    %ul 
      %li Programming
      %li Simplicity
      %li Acoustic Guitar
      %li Cooking
#thingsido.insetbox.span-8
  .heading Things I do
  .content
    %ul
      %li Ruby on Rails
      %li Javascript
      %li SQL
      %li Android*
#findme.insetbox.span-8.last
  .heading Find me!
  .content
    %ul
      %li Resume
      %li Blog
      %li Twitter
      %li E-Mail
#footer.span-24.last
  * I am currently learning the Android SDK.
