<!DOCTYPE html>
<html>
  <head>
    <title>josephbauser.net</title>
    <link rel="me" href="https://hachyderm.io/@coderjoe">
    <link href="/css/reset.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/css/main.css" media="screen" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:400,800' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Cabin&amp;v1" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="content">
      <div class='header'>
	<div class='title'>
	  {{ page.title }}
	</div>
      </div>
      {{ page.content }}
    </div>
    <div class='footer'>
      <ul>
				<li>
					<a href='https://plus.google.com/110889592930310051971/about' id='googleplus'></a>
				</li>
				<li>
					<a href='http://www.linkedin.com/in/josephbauser' id='linkedin'></a>
				</li>
				<li>
					<a href='https://github.com/coderjoe' id='github'></a>
				</li>
				<li>
					<a href='http://twitter.com/coderjoe' id='twitter'></a>
				</li>
				<li>
					<a href='mailto:coderjoe@coderjoe.net?subject=A%20question%20from%20josephbauser.net&amp;body=Hello%20from%20josephbauser.net' id='email'></a>
				</li>
      </ul>
    </div>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-526253-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-526253-1');
		</script>

  </body>
</html>
